#titulo{
  color: brown;
}
.parrafo{
  color: rgb(58, 9, 9);
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 300px;
  margin-left: 540px;
}
h1{
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}
h3{
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}